.loft {
    h2{
        background-color: aqua;
        border-radius: 10px;
        display: inline;
        text-transform: capitalize;
        line-height: 1.4;
        padding: .3rem .8rem;
    }
    img{
        border-radius: 20px;
    }
}